.link-elem-ancient{
  position: fixed;
  bottom: 2rem;
  display: flex;
  width: 24.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.1rem;
  list-style: none;
  color: var(--color-light-pink);
  font-size: clamp(1.5rem, 3vw, 2rem);
}





.link-elem {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}




@media (min-width: 600px) {
  .link-elem {
    left: 1.5rem;
  }
}

.link-elem a{
  padding: 1rem;
    color: var(--color-light-pink);
    text-decoration: none;
}